.places {
	flex-wrap: wrap;
	display: flex;
	/* justify-content: center; */
	z-index: 0;
}
.places > .place {
	min-width: 390px;
	margin-top: 20px;
	margin-right: 20px;
	padding: 20px;
	border: 1px solid #ff5a5f;
	display: flex;
	flex: 1 45%;
	position: relative;
	flex-direction: column;
}
.places > .place:first-of-type {
	margin-left: 0;
}
.places > .place > h2 {
	font-size: 30px;
	align-self: center;
}
.places > h2 {
	font-size: 30px;
	width: 100%;
}

.place > .price_by_night {
	color: #ff5a5f;
	border: 4px solid #ff5a5f;
	min-width: 60px;
	height: 60px;
	font-size: 20px;
	/* font-weight: bold; */
	position: absolute;
	top: 10px;
	border-radius: 120px;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
}

.place > .information {
	display: flex;
	align-items: center;
	height: 80px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 20px auto;
}
.place > .information > div {
	width: 100px;
	height: 60px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 40px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
}
.max_guest {
	background-image: url("../images/icon_group.png");
}
.number_bathrooms {
	background-image: url("../images/icon_bath.png");
}
.number_rooms {
	background-image: url("../images/icon_bed.png");
}
.description {
	margin-top: 10px;
}

.amenities {
	margin-top: 40px;
}

.place .title {
	font-size: 16px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
.reviews {
	margin-top: 40px;
}

.amenities > ul > li,
.reviews > ul > li {
	display: block;
	margin-bottom: 10px;
}
.reviews > ul h3 {
	font-size: 14px;
}
.reviews > ul p {
	font-size: 12px;
}

.l-icon {
	padding-left: 30px;
	position: relative;
	background-position: 0 0;
	background-size: 20px;
}
.icon {
	background-repeat: no-repeat;
}
.icon.pet_friendly {
	background-image: url("../images/icon_pets.png");
}
.icon.tv {
	background-image: url("../images/icon_tv.png");
}
.icon.wifi {
	background-image: url("../images/icon_wifi.png");
}
